
data_dump/debug.log
data_dump/StA/Classeur1.xlsx
data_dump/StA/debug.txt
data_dump/StA/Debug_1.txt
data_dump/StA/Feudal_Contracts_StA.accdb
data_dump/StA/Feudal_Contracts_StA.laccdb
data_dump/Vanilla/Classeur1.xlsx
data_dump/Vanilla/debug.txt
data_dump/Vanilla/Debug_1.txt
data_dump/Vanilla/Feudal_Contracts.accdb
data_dump/Vanilla/~$Classeur1.xlsx
data_dump/TCMA/Contract_end_req.txt
*.xlsx
data_dump/TCMA/contract_end.txt
data_dump/TCMA/Contract_start_req.txt
data_dump/TCMA/contract_start.txt
data_dump/TCMA/debug.txt
data_dump/TCMA/TCMA.accdb
data_dump/TCMA/Debug_1.txt
data_dump/TCMA/TCMA.laccdb
data_dump/TCMA Contracts/comparison.png
data_dump/TCMA Contracts/debug.txt
data_dump/TCMA Contracts/Debug_1.txt
data_dump/TCMA Contracts/Feudal_Contracts_StA.accdb
data_dump/TCMA Contracts/religion.png
data_dump/TCMA Contracts/20210728/debug.txt
data_dump/TCMA Contracts/20210728/Debug_1.txt
data_dump/TCMA Contracts/20210728/Feudal_Contracts_StA.laccdb
data_dump/TCMA Contracts/20210728/Feudal_Contracts_StA.accdb
misc/DevDiary3.png
misc/DevDiary3.xcf
TCMA/1627467245604.png
TCMA/1627467786728.png
TCMA/1627468930460.png
TCMA/1627468976619.png
data_dump/TCMA Contracts/20210729 with StA/debug.txt
data_dump/TCMA Contracts/20210729 with StA/Debug_1.txt
data_dump/TCMA Contracts/20210729 with StA/Feudal_Contracts_StA.accdb
data_dump/TCMA Contracts/20210729 with StA/Feudal_Contracts_StA.laccdb
data_dump/TCMA Contracts/20210730 with StA/debug.txt
data_dump/TCMA Contracts/20210730 with StA/Debug_1.txt
Ave Maria/
data_dump/TCMA Contracts/20210802 with StA/debug.txt
data_dump/TCMA Contracts/20210802 with StA/Debug_1.txt
data_dump/TCMA Contracts/20210802 with StA/Feudal_Contracts_StA.accdb
data_dump/Balance/AI_values.txt
data_dump/Balance/contract_v1.txt
data_dump/Balance/contracts_start.txt
data_dump/Balance/Contract_end_req.txt
data_dump/Balance/Contract_start_req.txt
data_dump/Balance/contract_v2.txt
data_dump/Balance/Contract_v2_req.txt
data_dump/Balance/Debug_1.txt
data_dump/Balance/Observer_v2.txt
data_dump/Balance/Observer_v2_req.txt
data_dump/Balance/TCMA.accdb
data_dump/Balance/TCMA.laccdb
